	@charset "UTF-8";
	@-ms-viewport {
		width: device-width;
	}
	
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	body {
		font-family: serif;
		line-height: 1.4;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern" 1;
		-webkit-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern=1";
		font-kerning: normal;
		font-size: 18px;
		word-break: break-word;
		white-space: normal;
	}
	
	header, h1, h2, h5, h6 {
		font-family: sans-serif;
		font-size: 28px;
		color: FireBrick;
	}
	
	h3 {
		font-family: sans-serif;
		font-size: 22px;
		color: FireBrick;
		padding-left: 10px;
		padding-bottom: 2px;
		margin: 0 auto;
		padding-top: 20px;
	}
	
	h4 {
		font-family: sans-serif;
		font-size: 18px;
		color: black;
		padding-left: 25px;
		padding-bottom: 0px;
		margin: 0 auto;
		font-weight: normal;
	}
	
	article>footer {
		margin-top: 5rem;
		font-size: 18px;
	}
	
	h2 {
		margin-top: 0px;
	}
	
	a {
		text-decoration: none;
		padding-bottom: 1px;
		border-bottom: 1px solid;
	}
	
	aside {
		float: right;
		clear: both;
		width: 40%;
		margin-left: 2rem;
		margin-bottom: 1.5rem;
		border-left: 3px solid grey;
		padding-left: 1.5rem;
	}
	
	dt {
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}
	
	abbr {
		font-family: serif;
	}
	
	blockquote {
		width: 75%;
		margin-left: 2rem;
		margin-bottom: 1.5rem;
		border-left: 20px solid lightgrey;
		padding-left: 1.5rem;
	}
	
	blockquote li {
		list-style-type: none;
	}
	
	table {
		border-collapse: collapse;
		width: 100%;
		text-align: left;
		margin: 3rem 0;
	}
	
	tr {
		border-bottom: 1px solid lightgrey;
	}
	
	td {
		padding: 10px;
	}
	
	thead {
		color: grey;
		font-family: serif;
		text-transform: lowercase;
	}
	
	img {
		display: block;
		margin: 0 auto;
		margin-bottom: 1.5rem;
	}
	
	.footer {
		text-align: center;
		margin-bottom: 1.5rem;
	}
	
	ul, ol, li {
		margin-bottom: 0px;
		margin-top: 2.5px;
	}
	
	em.sc {
		font-style: normal;
		font-family: serif;
		text-transform: lowercase;
	}
	
	.highlight {
		background-color: yellow;
	}
	
	figcaption {
		font-size: 8;
	}
	
	.strikethrough {
		text-decoration: line-through;
	}
	
	header>p.byline {
		font-size: 8px;
	}
	
	p {
		font-size: 18px;
	}
	
	#header {
		list-style-type: none;
		overflow: visible;
		position: relative;
		width: 100%;
		float: right;
		right: 60%;
		padding-bottom: 20px;
		z-index: 1;
	}
	
	li {
		float: right;
		width: 17%;
		/*17 */
		border-bottom: none;
		position: relative;
		font-size: 20px;
		right: -80%;
		text-align: center;
		padding-right: 30px;
	}
	
	li a {
		display: inline-block;
		color: black;
		padding: 10px;
		text-decoration: none;
		border-bottom: medium simple black;
		padding-bottom: 2px;
	}
	
	.date {
		font-family: sans-serif;
		font-size: 15px;
		color: grey;
		padding-left: 40px;
		padding-top: 0px;
	}
	
	.links {
		border-bottom: medium simple black;
		padding-bottom: 0px;
		border-bottom: none;
	}
	
	.qualifier {
		font-family: sans-serif;
		font-size: 18px;
		font-weight: bold;
		color: black;
		padding-left: 50px;
		padding-bottom: 0px;
		margin: 0 auto;
	}
	
	.response {
		font-family: sans-serif;
		font-size: 18px;
		color: black;
		padding-left: 2px;
		padding-bottom: 0px;
		margin: 0 auto;
		text-decoration: none;
		border-bottom: none;
	}
	
	.response a {
		text-decoration: none;
		border-bottom: none;
	}
	
	li a:hover {
		display: inline-block;
		color: firebrick;
		text-decoration: none;
		border-bottom: medium simple black;
		border-color: firebrick;
	}
	
	@media screen and (max-width: 1000px) {
		p {
			padding: 5px;
		}
		pre {
			padding-right: 10px;
		}
		li {
			width: 25%;
			right: -50%;
			font-size: 15px;
			overflow: hidden;
			padding-right: 10px;
			margin-top: 0px;
		}
		#header {
			right: 50%;
		}
		h2 {
			margin-top: 0px;
			font-size: 20px;
		}
		h3 {
			font-family: sans-serif;
			font-size: 18px;
			color: FireBrick;
			padding-left: 5px;
			padding-bottom: 2px;
			margin: 0 auto;
			padding-top: 20px;
		}
		h4 {
			font-family: sans-serif;
			font-size: 14px;
			color: black;
			padding-left: 13px;
			padding-bottom: 0px;
			margin: 0 auto;
		}
		.links {
			font-size: 13px;
			overflow: hidden;
		}
		.date {
			font-size: 15px;
			padding-left: 15px;
		}
		.qualifier {
			font-family: sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: black;
			padding-left: 50px;
			padding-bottom: 0px;
			margin: 0 auto;
		}
		.response {
			font-family: sans-serif;
			font-size: 14px;
			color: black;
			padding-left: 2px;
			padding-bottom: 0px;
			margin: 0 auto;
			text-decoration: none;
			border-bottom: none;
		}
	}
	
	@media screen and (max-width: 700px) {
		p {
			padding: 5px;
			font-size: 15px;
		}
		pre {
			padding-right: 10px;
		}
		li {
			width: 25%;
			right: -50%;
			font-size: 12px;
			overflow: hidden;
			padding-right: 10px;
			margin-top: 0px;
		}
		#header {
			right: 50%;
		}
		h2 {
			margin-top: 0px;
			font-size: 17px;
		}
		h3 {
			font-family: sans-serif;
			font-size: 16px;
			color: FireBrick;
			padding-left: 5px;
			padding-bottom: 2px;
			margin: 0 auto;
			padding-top: 20px;
		}
		h4 {
			font-family: sans-serif;
			font-size: 12px;
			color: black;
			padding-left: 12px;
			padding-bottom: 0px;
			margin: 0 auto;
		}
		.links {
			font-size: 11px;
			overflow: hidden;
		}
		.date {
			font-size: 11px;
			padding-left: 15px;
		}
		.qualifier {
			font-family: sans-serif;
			font-size: 11px;
			font-weight: bold;
			color: black;
			padding-left: 20px;
			padding-bottom: 0px;
			margin: 0 auto;
		}
		.response {
			font-family: sans-serif;
			font-size: 11px;
			color: black;
			padding-left: 2px;
			padding-bottom: 0px;
			margin: 0 auto;
			text-decoration: none;
			border-bottom: none;
		}
	}