<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
      <link rel="icon" type="image/png" href="/assets/icons/glider.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% include _includes/maincss.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
          {% include sidebar.html %}
      </header>
          {% include mobileHeader.html %}
      <section class="scroll-content">
            {{ content }}
      </section>
   </div>
  </body>
</html>
