<style>
    #header {
        list-style-type: none;
        overflow: visible;
        position: relative;
        width: 100%;
        float: right;
        right: 60%;
        padding-bottom: 200px;
        z-index: 1;
    }

    .navbar {
        float: right;
        width: 17%;
        border-bottom: none;
        position: relative;
        font-size: 20px;
        right: -80%;
        text-align: center;
        padding-right: 30px;
        margin-bottom: 0;
    }

    .navbar a {
        display: inline-block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-bottom: thin solid rgb(0, 0, 0);
        padding: 10px 10px 2px;
    }

    .navbar a:hover {
        display: inline-block;
        color: firebrick;
        text-decoration: none;
        border-color: firebrick;
    }
</style>
<ul id="header">
    <li class="navbar"><a href="mailto:grayson@linux.com" class="button">Contact</a></li>
    <li class="navbar"><a href="../../../about.html" class="button">About</a></li>
    <li class="navbar"><a href="../../index.html" class="button">Archive</a></li>
    <li class="navbar"><a href="../../../index.html" class="button">Home</a></li>
</ul>