<style>
    blockquote {
        border-left: 3px solid #B22222;
        background-color: #f9f9f9;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
    }

    blockquote a {
        color: #004f89;
    }

    blockquote::before{
        content: "\201C"; /*Unicode for Left Double Quote*/

        /*Font*/
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;

        /*Positioning*/
        position: relative;
        left: 10px;
        top:5px;
    }

    blockquote::after{
        /*Reset to make sure*/
        content: "";
    }

    code,
    pre {
        font-family: "Courier New", monospace;
        background-color: #eff0f1;
        word-wrap: break-word;
    }

    pre {
        padding: 8px 15px;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        overflow-x: auto;
    }

    pre code {
        background: none;
    }

    .highlighter-rouge {
        color: #004f89;
    }

    img {
        max-width: 100%;
    }

    hr {
        border: 0;
        background: #e5e5e5;
        height: 1px;
        margin: 0 0 20px;
    }

    .chart {
        width: auto;
        max-width: 100%;
        overflow-x: hidden;
    }

    pre.highlight,.highlight pre {
        background-color:#0D2434;
        color:#D3D3D3;
    }

    .highlight .ge {
        color:#93a1a1;
        font-style:italic;
    }

    .highlight .gs {
        color:#93a1a1;
        font-weight:700;
    }

    .highlight .nb {
        color:#B58900;
    }

    .highlight .nx {
        color:#D3D3D3;
    }

    .highlight .cm, .highlight .c, .highlight .c1,.highlight .sb {
        color:#97abb1;
    }

    .highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .p,.highlight .go,.highlight .gp,.highlight .gt,.highlight .ld,.highlight .na,.highlight .nl,.highlight .nn,.highlight .py,.highlight .w,.highlight .sd,.highlight .sh {
        color:#93a1a1;
    }

    .highlight .k,.highlight .o,.highlight .cp,.highlight .cs,.highlight .gi,.highlight .kn,.highlight .kp,.highlight .ow {
        color:#859900;
    }

    .highlight .x,.highlight .gh,.highlight .gu,.highlight .kc,.highlight .no,.highlight .ni,.highlight .ne,.highlight .se {
        color:#e96c36;
    }

    .highlight .gd,.highlight .m,.highlight .s,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .sc,.highlight .s2,.highlight .si,.highlight .sx,.highlight .s1,.highlight .ss,.highlight .il {
        color:#2aa198;
    }

    .highlight .gr,.highlight .kt,.highlight .sr {
        color:#e97f7d;
    }

    .highlight .kd,.highlight .kr,.highlight .nc,.highlight .nv,.highlight .nd,.highlight .nf,.highlight .nt,.highlight .bp,.highlight .vc,.highlight .vg,.highlight .vi {
        color:#3e9adc;
    }
</style>