@import "fonts";

body {
  background-color: #f9f9f9;
  padding: 50px;
  font: 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
}

h1, h3, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
    line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  margin:0 0 20px;
  color: firebrick;
}

h4 {
  color: grey;
  font-size: 14px;
  margin: 0;
  float: right;
}

h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:1000px;
  margin:0 auto;
}

blockquote {
  border-left:2px solid #e5e5e5;
  margin:0;
  background-color: #FFF8DC;
  padding:0 0 0 20px;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  //color:#333;
  //background-color: #002b36; //rgba(0, 0, 0, 0.04);
  font-size:16px;
}

pre {
  padding:8px 15px;
  //background: #002b36; //#f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width: 75%;
  float: right;
  padding: 30px;
  background-color: #FFF;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
.user-profile { position: fixed; float: left; width: 10%; padding-right: 4%; text-align: center;
  & > * { display: block; }
  .avatar { max-width: 140px; max-height: 120px; border-radius: 50%; margin: 0 auto 15px; }
  .my-name { font-size: 24px; font-weight: 700; line-height: 30px; color: black; }
  .my-job-title { font-size: 14px; font-weight: 300; margin: 5px 0 0; }
  .mainmenu { padding: 20px 20px 0; text-align: center;
    a { display: block; max-width: 300px; color: black; padding: 15px; border: 1px solid lightgrey; background:#f9f9f9; box-shadow: 0 2px 3px rgba(black,.05);
      &:hover, &.active { background: darken(#f9f9f9, 10%); border-left: 4px solid firebrick; }
    }
  }
.about-me { font-size: 16px; line-height: 26px; padding: 20px 20px 0; color: black; }
  ul { font-size: 0; padding: 20px;
    li { display: inline-block; padding: 3px;
      a { position: relative; display: block; width: 40px; height: 40px; line-height: 40px; background: black; border-radius: 50%;
        &:hover { background: firebrick; }
        svg { display: inline-block; vertical-align: middle;
          * { fill: white;  }
        }
      }
    }
  }
}

@media print, screen and (max-width: 960px) {

  body {
    padding:15px;
  }

  div.wrapper {
    width:auto;
    margin:0;
  }

  .user-profile, header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding: 20px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  .user-profile ul {
    display:none;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
    padding: 15px;
  }

  .user-profile, header {
    position:static;
    padding:0;
    float: none;
  }
  .user-profile ul {
    display:none;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .user-profile, header  {
    position:static;
    padding:0;
    float: none;
  }
  .user-profile ul {
    display:none;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
