<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
      <link rel="icon" type="image/png" href="/assets/icons/glider.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      {% include maincss.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
          {% include sidebar.html %}
      </header>
          {% include mobileHeader.html %}
      <section class="scroll-content">
          {% assign sorted_cats = site.categories | sort %}
          {% for category in sorted_cats %}
          <h2>{{ category[0] | capitalize }}</h2>
                {% assign current_cat = category[0] %}
                {% assign sorted_tags = site.tags %}
                {% for tag in sorted_tags %}
                {% assign zz = tag[1] | where: "category",current_cat | sort: "weight" %}
                    {% if zz != empty %}
                        <ul style="list-style-type: none; margin: 5px 10px; padding: 0;">
                            <li><b><span class="tag">{{ tag[0] }}</span></b>
                                <ul style="margin: 0 35px; padding: 2px;">
                                    {% for p in zz %}
                                        <li><span class="blurb"><a href="{{ p.url }}">{{ p.title }}</a></span></li>
                                    {% endfor %}
                                </ul>
                           </li>
                        </ul>
                    {% endif %}
                {% endfor %}
          {% endfor %}
      </section>
   </div>
  </body>
</html>
