<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
      <link rel="icon" type="image/png" href="/images/tux.png">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          {% include sidebar.html %}
      </header>
      <section>
          <!--
          <h2>Blogs</h2>
                {% for tag in site.categories %}
                <h3 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h3>
                <ul>
                    {% assign pages_list = tag[1] %}
                    {% for post in pages_list %}
                    {% if post.title != null %}
                    {% if group == null or group == post.group %}
                    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><span> • </span><time datetime="{{ post.date | date: "%m/%d/%Y" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% assign pages_list = nil %}
                    {% assign group = nil %}
                </ul>
                {% endfor %}

          <h2>Talks</h2>
-->


                    <!-- Blogs, Talks, etc.
                    {% for category in site.categories %}
                            <h2>{{ category[0] | capitalize }}s</h2>
                            {% for posts in category %}
                                 {% for post in posts %}
                                        <ul style="list-style-type: none; margin: 5px 10px; padding: 0;">
                                                <li><b>{{ posts[0].tag }}</b>
                                                    <ul>
                                                        {% if post.title != null %}
                                                            <li><h4>{{ post.date |  date: "%m/%d/%Y" }} - <a href="{{ post.url }}">{{ post.title | capitalize }}</a></h4></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                    </ul>
                                {% endfor %}
                            {% endfor %}
                    {% endfor %}
          -->


          {% for category in site.categories %}
          <h2>{{ category[0] | capitalize }}s</h2>
          {% assign current_cat = category[0] %}
          {% assign sorted_tags = site.tags | sort %}
          {% for tag in sorted_tags %}
          <p>{{ tag[1].tags }}</p>
          {% assign zz = tag[1] | where: "category",current_cat | sort %}
          {% if zz != empty %}
          <ul style="list-style-type: none; margin: 5px 10px; padding: 0;">
              <li><b><span class="tag">{{ tag[0] | capitalize }}</span></b>
              <ul style="margin: 0 35px; padding: 2px;">
                  {% for p in zz %}
                  <li><h4>{{ p.date |  date: "%m/%d/%Y" }} - <a href="{{ p.url }}">{{ p.title | capitalize }}</a></h4></li>
                  {% endfor %}
              </ul>
             </li>
          </ul>
          {% endif %}
          {% endfor %}
          {% endfor %}

                                  <!-- List of posts per tag, within a category
                                  {% assign tag_list = posts[0].tags %}
                                  {% for post in tag %}
                                    <ul style="list-style-type: none; margin: 0 35px; padding: 0;">
                                        {% if post.title != null %}
                                            <li><h4>{{ post.date |  date: "%m/%d/%Y" }} - <a href="{{ post.url }}">{{ post.title | capitalize }}</a></h4></li>
                                        {% endif %}
                                    </ul>
                                  {% endfor %} -->


<!--
                <ul>
                    {% for post in site.categories.security %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
-->
      </section>
   </div>
   <!-- <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script> -->


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
