<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="/assets/icons/glider.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include maincss.html %}
</head>
<body>
<div class="wrapper">
    <header>
        {% include sidebar.html %}
    </header>
    {% include mobileHeader.html %}
    <section class="scroll-content">
        <h2>{{ page.category | capitalize }}s</h2>
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
        {% assign zz = tag[1] | where: "category",page.category %}
        {% if zz != empty %}
        <ul style="list-style-type: none; margin: 5px 10px; padding: 0;">
            <li><b><span class="tag">{{ tag[0] | capitalize }}</span></b>
                <ul style="margin: 0 35px; padding: 2px;">
                    {% for p in zz %}
                    <li><h4>{{ p.date |  date: "%m/%d/%Y" }} - <a href="{{ p.url }}">{{ p.title }}</a></h4></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
    </section>
</div>
</body>
</html>
