<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/solarized-dark.css">
    <link rel="icon" type="image/png" href="/images/tux.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
    {% if page.d3Load == true %}
        {% include d3Libs.html %}
    {% endif %}
    {% if page.math == true %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% endif %}
</head>
<body>
<div class="wrapper">
    <header>
        {% include sidebar.html %}
    </header>
        {% include mobileHeader.html %}
    <section class="scroll-content">
        {% assign words = content | number_of_words %}
        <h2> {{ page.title }}</h2>
        <h4> {{ page.date | date: "%m/%d/%Y"}} • {% include readtime.html %}</h4>
        <hr>
        {{ content }}

        {% assign pageTag == page.tag %}
        {% if site.tags.pageTag.size > 0 %}
        <p>There are more than 10 products in this collection!</p>
        {% endif %}
    </section>
</div>
<!-- <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script> -->


{% if site.google_analytics %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>